:host {
  //   div {
  //     display: flex;
  //     ion-title {
  //       display: block;
  //     }
  //   }
  .main-text {
    display: flex;
    flex-direction: column;
  }
}
.flex-container {
  display: grid;
  grid-template-columns: auto auto auto;
}
.card-header {
  display: flex;
  align-items: center;
}
