<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-content>
      <div>
      <ion-title><b>From</b></ion-title><ion-title>dist, vill</ion-title></div>
      <div> <ion-title><b>Age</b></ion-title><ion-title>28</ion-title></div>
      <div> <ion-title><b>Education</b></ion-title><ion-title>Graduate</ion-title></div>
      <div> <ion-title><b>Occupation</b></ion-title><ion-title>Doctor</ion-title></div>
    </ion-card-content>
  </ion-card>
</ion-content>
